{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Eventglit | Create Event!
{% endblock %}

{% block styles %}
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="{% static 'event/js/jquery.datetimepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'event/css/create.css' %}">
    <link rel="stylesheet" href="{% static 'event/css/jquery.datetimepicker.css' %}">
    
{% endblock %}

{% block content %}
    <!-- 1 -->

    <div class="w3-container w3-margin-top">
        <div class="w3-xlarge w3-margin-bottom">
            Create your Event!
            <hr>
            {{ request.user.first_name}} {{ request.user.last_name}}
        </div>

        <hr>
        
        <div class="w3-container">
            <form action="{% url 'create_event' %}" method="post" autocomplete="off" enctype='multipart/form-data'>
                {% csrf_token %}

                <!-- {{ form.non_field_errors }} -->

                {% if form.non_field_errors %}
                    <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% for hidden_field in form.hidden_fields %}
                    {% if hidden_field.errors %}
                    <ul>
                        {% for error in hidden_field.errors %}
                        <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ hidden_field }}
                {% endfor %}

               
                {% for field in form.visible_fields %}
                    <p>
                        {{ field.label_tag|cut:":" }}
                        <br>
                        {{field.errors}}
                        {{field}}
                        {{field.help_text}}
                    </p>
                {% endfor %}               
                <button type="submit">Create</button>
                
            </form>
        </div>
       
        
    </div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        const today = new Date();
        const time = (today.getHours()+2) + ":" + today.getMinutes() + ":" + today.getSeconds();
        const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        const max_date = today.getFullYear()+'-'+(today.getMonth()+7)+'-'+today.getDate();
        const date_time = date + ' ' + time;

        $('.datepicker').datetimepicker({
            minDateTime: date_time,
            maxDateTime: max_date,
        });
       
    });

</script>
{% endblock %}
